{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe  - Garage V. PARROT{% endblock %}

{% block content %}
    <div class="mt-5 p-5">
        <h1>Modifier mon mot de passe</h1>

        <a href="{{ path('account') }}">Retourer à Mon compte</a>
        <hr>
        {% if notification %}
            <div class="alert alert-info"> {{ notification }}</div>
        {% endif %}
        {{ form(form) }}


    </div>

{% endblock %}
