{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block content %}
    <div class="container d-flex align-items-center justify-content-center mt-5 p-5">
        <div>
            <h1 class="text-center">Laissez-nous un message</h1>
            <div class="mx-auto m-5">
                Merci pour votre message, nous vous repondrons au plus vite
            </div>
        </div>
    </div>
{% endblock %}