{# avis.html.twig #}

<div class="container   justify-content-center  p-5">
    {% for row in avis|batch(4) %}
    <div class="row d-flex justify-content-center mx-auto">
        {% for aviss in row %}
            <div class="col-md-3 text-center">
                {% for i in 1..aviss.note|round %}
                    &#9733;
                {% endfor %}
                <p class="mt-2">{{ aviss.commentaire }}</p>
                <p class="mt-2 blockquote-footer"> {{ aviss.nom }}</p>
            </div>
        {% endfor %}
    </div>
{% endfor %}